.content {
    display: block;
    box-sizing: border-box;
    width: 700px;
    height: 600px;
    padding: 30px;
    margin: auto;
    font-weight: 600;
    font-family: sans-serif;
    background-color: darkgray;
    border-style: solid;
    border-width: 7px;
}

h1 {
    text-align: center;
    background-color: brown;
    color: white;
}

fieldset button {
    float: right;
    background-color: blue;
    margin: auto;
    padding: 15px 25px;
    text-transform: uppercase;
    color: whitesmoke;
}

.default input:checked ~ label {
    color: red;
}

#id_description {
    height: 70px;
}

#id_name {
    display: block;
}

textarea,
#id_name {
    background-color: whitesmoke;
}