@font-face {
	font-family: 'My Font';
	src: url('fonts/pfdintextcondpro-bold-webfont-webfont.woff2') format('woff2'),
		 url('fonts/pfdintextcondpro-bold-webfont-webfont.woff') format('woff');
  }


body {
	width: 100%;
	padding-top: 65px;
	padding-bottom: 80px;
	background-image: url("../images/film.jpg");
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
}

.home-icon{
	width: 40px;
}
.home-icon:hover{
	border-width: 0px;
}
p{
	color: aliceblue;
	text-align: center;
}
input, select, button {
	margin-top: 10px;
    border: 1px solid #bebebe;
    border-radius: 4px;
}
input {
	width: 300px;
}
button {
	background-color: #3a3b3b;
	color: #fff;
}
select{
	padding: 5px;
}

.wrap {
	margin: 15px 0;
	border-bottom: 1px solid #bebebe;
	padding: 20px;
	width: 25%;
}
.info {
	margin-top: 10px;
}
.content {
	text-align: center;
	color: #e22b2b;
	display: flex;
  flex-wrap: wrap;
}
.pages {
	text-align: center;
}

.pages {
	display: flex;
}

.hide {
	display:none !important;
}

.pages span {
	left: 50%;
	background-color: white;
}
.pages .current{
	background: none;
}
.pages span:hover {
	cursor: pointer;
}

.page {
	padding: 10px;
	height: 5%;
	border-style: solid;
	border-radius: 25%;
	border-color: black;
}

.page.disabled {
	color: #bbbbbe;
}
img {
	width: 200px;
}

img:hover{
	border-style: solid;
	border-width: 2px;
	border-color: #bebebe;
}

a {
	padding-left: 20px;
	cursor: pointer;
	text-align:center;
}
a:hover {
	color: blue;
}

.search_icon{
	width: 25px;
	border-style: none;
}
.search_icon:hover{
	border: 0px;
	cursor: pointer;
}
.modal-content{
	background-color: darkgray;
	opacity: 0.8;
}
.search_form{
	font-family: 'My Font';
	color: #fff;
	text-align: center;
	font-size: 20px;
}
footer p{
	padding: 20px 0 20px 0;
}


@media only screen and (max-width: 600px) {
  .content {
		align-items: center;
  	justify-content: center;
		display: flex;
		flex-direction: column;
	}
	.content .wrap {
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {
	.content {
		display: flex;
		flex-direction: row;
	}
	.content .wrap{
		width: 50%;
	}
}

@media only screen and (min-width: 1024px) {
	.content {
		display: flex;
		flex-direction: row;
	}
	.content .wrap{
		width: 30%;
	}
}